* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title_text{
    font-size: 90px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto';
}

.container{
    height: 2000px;
    width: 860px;
    background: #FFDAA3;
    margin: 0 auto;
    box-shadow: 3px -1px 35px 11px rgba(144,117,117,0.75);
    -webkit-box-shadow: 3px -1px 35px 11px rgba(144,117,117,0.75);
    -moz-box-shadow: 3px -1px 35px 11px rgba(144,117,117,0.75);
}

.about_text{
    width: 860px;
    height: 200px;
    padding: 20px;
    font-family: 'Roboto';
}

.l{
    width: 400px;
    float: left;
    font-size: 18px;
    z-index: 1000;
    color:black;
}

.about_title{
    font-size: 30px;
    font-family: 'Roboto';
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

.abouttxt{
    padding: 20px;
}

ul{
    width: 400px;
    height: 600px;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    list-style: lower-roman;
    padding: 40px;
}

.about_img{
    width: 200px;
}

.footer{
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 860px;
    height: 80px;
    background: #000;
    margin: 0 auto;
    color: white;
}

.sidebar{
    background: orange;
    color: white;
    width: 120px;
    height: 2080px;
    position: absolute;
    margin-left: 175px;
    box-shadow: 3px -1px 35px 11px rgba(144,117,117,0.75);
    -webkit-box-shadow: 3px -1px 35px 11px rgba(144,117,117,0.75);
    -moz-box-shadow: 3px -1px 35px 11px rgba(144,117,117,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

a {
    font-size: 50px;
}

